<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/">Home</a>          
      <a class="sidebar-nav-item" href="/about/">About Ankit</a>
      <a class="sidebar-nav-item" href="/contact/">Contact Ankit</a>
      <a class="sidebar-nav-item" href="/hire-ankit/">Hire Me!</a>
    </nav>
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
