:root {
  --spacing-none: 0;
  --spacing-extra-small: 0.25rem;
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --spacing-extra-large: 4rem;
  --spacing-extra-extra-large: 8rem;
  --spacing-extra-extra-extra-large: 16rem;
}

body,
html {
  font-family: Georgia, Times, Times New Roman, serif;
  background-color: #fffdf2;
  color: #552619;
  font-size: 18px;
  line-height: 1.5;
}
a {
  color: rgb(136, 163, 232);
}
a:visited {
  color: #a799cd;
}

h1.post-title {
  font-size: 2rem;
}

.pa3 {
  padding: 1rem;
}

.f3 {
  font-size: 1.5rem;
}

.measure-wide {
  max-width: 34em;
}

.tc {
  text-align: center;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.mw7 {
  max-width: 48rem;
}
.center {
  margin-right: auto;
  margin-left: auto;
}

.dib {
  display: inline-block;
}

li {
  margin-bottom: 0.5rem;
}

.link {
  transition: color 0.15s ease-in;
}
.link:link,
.link:visited {
  transition: color 0.15s ease-in;
}
.link:hover {
  transition: color 0.15s ease-in;
}

.link:active {
  transition: color 0.15s ease-in;
}

.link:focus {
  transition: color 0.15s ease-in;
  outline: 1px dotted currentColor;
}

.ph2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.f6 {
  font-size: 0.875rem;
}

.dim:active {
  opacity: 0.8;
  transition: opacity 0.15s ease-out;
}
.static {
  position: static;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.top-0 {
  top: 0;
}
.right-0 {
  right: 0;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}
.mt0 {
  margin-top: var(--spacing-none);
}
.mt1 {
  margin-top: var(--spacing-extra-small);
}
.mt2 {
  margin-top: var(--spacing-small);
}
.mt3 {
  margin-top: var(--spacing-medium);
}
.mt4 {
  margin-top: var(--spacing-large);
}
.mt5 {
  margin-top: var(--spacing-extra-large);
}
.mt6 {
  margin-top: var(--spacing-extra-extra-large);
}
.mt7 {
  margin-top: var(--spacing-extra-extra-extra-large);
}

@media screen and (min-width: 30em) {
  .pa5-ns {
    padding: 4rem;
  }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  .f2-m {
    font-size: 2.25rem;
  }
}

@media screen and (min-width: 60em) {
  .f1-l {
    font-size: 3rem;
  }
}
blockquote {
  display: block;
  margin: 1rem 0;
  padding: 0.25rem 1rem;
  border-right: none;
  border-left: 0.25rem solid rgb(231, 234, 239.5);
  border-inline-start: 0.25rem solid rgb(231, 234, 239.5);
  border-inline-end: none;
}
