<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <a class="extra" href="/about">About</a>
              <a class="extra" href="/contact">Contact</a>
              <a class="extra" href="/shopify-stores-in-india">Shopify Stores India</a>
              <a class="extra" href="/hire-ankit">Hire Me</a>
            </div>

                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  Ankit<br />
                  Freelance Marketing Consultant and Constant Learner<br />
                  mail@ankitkumar.in
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://twitter.com/akravi/">twitter.com/akravi</a><br />
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
